* {
    margin: 0;
    padding: 0;
}

body {
    background: #040404;
    /* display: grid; */
}

#principal {
    display: flex;
    align-items: center;
    color: #fff;
}

input {
    border: 1px solid red !important;
}



#secao-login {
    height: fit-content;
}

#secao-login,
#secao-marca {
    padding: 100px;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secao-login p {
    margin-top: 50px;
    margin-bottom: 50px;

}

#secao-marca {
    /* float: right; */
    background-color: #15151e;
    border-radius: 3%;
    margin-top: 0.5%;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    gap: 200px;
}
/* 
.img {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 25%;
    height: 100vh;
}

#botao-login {
    width: 100%;
    border-radius: 100%;
} */