@import url("base/variables.css");
@import url("base/reset.css");
@import url("base/typography.css");

@import url("layout/header.css");
@import url("layout/footer.css");
@import url("layout/auth_layout.css");
@import url("layout/auth_footer.css");
@import url("layout/grid.css");
@import url("layout/sidebar.css");

@import url("components/buttons.css");
@import url("components/inputs.css");
@import url("components/cards.css");
@import url("components/alerts.css");
@import url("components/modals.css");
@import url("components/form.css");


@import url("pages/dashboard.css");