.btn {
    padding: 0.9rem 1.5rem;
    border: none;
    border-radius: 50px !important;
    font-size: 1.1rem;
    font-weight: bold !important;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: var(--color-background) !important;
}

.btn-primary:hover {
    background-color: #f0b90b !important;
}

.btn-block {
    width: 100%;
}

.btn-modal {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--color-text) !important;
    height: 130px;
    max-width: 130px !important;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0.06px 0.03px 4.5px rgba(255, 255, 255, 0.13) inset;
    border-radius: 20px !important;
}

.btn-modal i {
    color: var(--color-primary);
    font-size: 40px;

}