.form-options{
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-link {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
}

.form-footer-link {
    text-align: center;
    margin-top: 2rem;
    color: var(--color-text-secondary);
}