.form-group label {
    color: var(--color-text);
    margin-bottom: 10px;
    display: block;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    padding: 10px 16px;
}

.input-wrapper .input-icon {
    color: var(--color-primary);
    margin-right: 15px;
}

.input-wrapper input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-text);
}

.input-wrapper input::placeholder {
    color: var(--color-text-secundary);
    opacity: 1;
}

.input-wrapper:focus-within {
    border-color: var(--color-text);
}

i{
    font-size: 1rem;
}