.form-group label {
    color: var(--color-text);
    margin-bottom: 10px;
    display: block;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    padding: 10px 16px;
    width: 100%;
}

.input-wrapper .input-icon {
    color: var(--color-primary);
    margin-right: 15px;
}

.input-wrapper input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-text);
}

.input-wrapper input::placeholder {
    color: var(--color-text-secundary);
    opacity: 1;
}

.input-wrapper:focus-within {
    border-color: var(--color-text);
}

i {
    font-size: 1rem;
}

.liquid-glass {
    background: rgba(255, 255, 255, 0.07);
    background-blend-mode: linear_dodge;
    box-shadow: 0.06px -0.06px 4.6px rgba(255, 255, 255, 0.13) inset;
    border-radius: 20px;
    outline: 1px white solid;
    backdrop-filter: blur(7.58px);
    border: none !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"] {
    -moz-appearance: textfield;
}

.input-wrapper input[type="date"] {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-text);
}

input[type="date"] {
    color-scheme: dark;
}