.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background: rgba(14, 14, 21, 0.5);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.13) inset;
    border-radius: 20px !important;

    width: 90% !important;
    max-width: 500px;
    padding: 2rem;
    position: relative !important;
    transform: scale(0.9) !important;
    transition: transform 0.3s;
}

.modal-overlay.visible .modal-content {
    transform: scale(1);
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
}

.modal-header h3 {
    margin: 0;
    color: var(--color-primary) !important;
}

.modal-close {
    background: none;
    border: none;
    color: var(--color-text-secondary);
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.modal-footer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}