# /public/.htaccess
RewriteEngine On
RewriteBase /GitHub/MoneyGuard-poo2/public/

# Se o arquivo ou diretório solicitado não existir...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...redireciona para o index.php, passando a URL como parâmetro
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]