
.auth-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.auth-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.auth-form-wrapper {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
}

.auth-form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.auth-logo {
    width: 250px;
}

.content-login, .content-register {
    width: 23.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.auth-brand-section {
    background: radial-gradient(ellipse 50.00% 50.00% at 50.00% 50.00%, #1E1E2A 0%, #0E0E15 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.25rem;
    gap: 10rem;
}

.auth-brand-image {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.auth-brand-text {
    /* text-align: center; */
}

.auth-brand-text h3 {
    font-size: 2rem;
    font-weight: 500;
}

.auth-brand-text .highlight {
    color: var(--color-primary);
    font-weight: 700;
}

.auth-brand-text p {
    font-size: 1.1rem;
    color: var(--color-text-secondary);
    margin-top: 1rem;
}

/* --- ANIMAÇÃO --- */
@keyframes rotate-cw {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate-ccw {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes counter-rotate-cw {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes counter-rotate-ccw {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.animation-wrapper {
    position: relative;
    width: 17.969vw;
    max-width: 500px;
    aspect-ratio: 1 / 1;
}

.coin-center {
    position: absolute;
    width: 12%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
}

.orbit-path {
    width: 100%;
    height: 100%;
}

.outer-orbit {
    width: 100%;
    height: 100%;
    animation: rotate-cw 30s linear infinite;
    z-index: 2;
}

.inner-orbit {
    width: 60%;
    height: 60%;
    animation: rotate-ccw 20s linear infinite;
    z-index: 3;
}

.avatar {
    position: absolute;
    width: 22%;
    top: var(--top);
    left: var(--left);
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.outer-orbit .avatar {
    animation: counter-rotate-ccw 30s linear infinite;
}

.inner-orbit .avatar {
    animation: counter-rotate-cw 20s linear infinite;
}

.highlight-animation {
    width: 65px;
    height: 73px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #D6F3FF;
    box-shadow: 120px 120px 120px;
    filter: blur(60px)
}

h3, p, label, a{
    color: var(--color-text) !important;
}

/* --- RESPONSIVIDADE  --- */
@media (max-width: 900px) {

    .auth-brand-section {
        display: none;
    }

    .auth-container {
        grid-template-columns: 1fr;
    }

    .auth-form-section {
        min-height: 100vh;
    }

    .auth-form-wrapper {
        max-width: 100%;
    }
}